.about-main h1{
    margin: 5% 0 2% 0;
    color: white;
    text-align: center;
    font-size: 3em;
}

.about-main-component{
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.colored-p{
    color: rgb(206, 152, 247);
}

.about-text p{
    color: white;
    flex-wrap: wrap;
    margin: 2% 5%;
    font-size: 1.2em;
}
.about-image img{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background: radial-gradient(circle at top, #fff, #ddd);
    box-shadow: rgba(207, 182, 206, 0.4) 0px 20px 60px;
    animation: rotateBorder 6s linear infinite;
  border: 1px double rgba(255, 255, 255, 0.468);
  transform-origin: center;
}


@media (max-width: 768px) {
    .about-content {
        flex-direction: column; 
        border: none;
      }
}