
.header{
    display: flex;
    justify-content: space-between;
    margin: 2em 6em;
}

.myName h2{
    font-size: 1em;
    color: white;
    cursor: pointer;
}

.themeIcon{
    cursor: pointer;
}

.myInfo{
    margin-top: 5%;
}

.myInfo h4{
    font-size: 0.8em;
    color: rgba(255, 255, 255, 0.811);
    text-align: center;
}

.myInfo h2{
    color: rgb(255, 255, 255);
    font-size: 2em;
    letter-spacing: 0.1em;
    text-align: center;
    font-weight: 800;
}

.twoButtons{
    text-align: center;
    margin: 1.5em;  
}

.twoButtons .download-cv{
    height: 3em;
    width: 10em;
    background-color: transparent;
    border: 2px solid #a882ba;
    color: rgb(253, 250, 253);
    border-radius: 5px;
    margin-left: 1.2em;
    cursor: pointer;
}

.twoButtons .download-cv:hover{
    background-color: #c28fdaee;
    color: #00000dfc;
   
}

.twoButtons .about-me{
    height: 3em;
    width: 10em;
    background-color: #cfb2dcee;
    color: #00000dfc;
    border-radius: 5px;
    margin-left: 1.2em;
    cursor: pointer;
}

.twoButtons .about-me:hover{
    background-color: transparent;
    border: 2px solid #a882ba;
    color: rgb(253, 250, 253);
}

.midContainer{
    display: flex;
    justify-content: space-around;
}

.midContainer .navbar{
    display: flex;
    align-items: flex-end;
}

.midContainer .navbar ul{
    color: white;
}

.midContainer .navbar ul li{
    list-style-type: none;
}

.midContainer .scrollInfo {
    display: flex;
    align-items: flex-end;
}
.midContainer .scrollInfo span img{
    height: 20px;
    width: 20px;
    cursor: pointer;

}

.midContainer .scrollInfo span p{
    writing-mode: vertical-lr;
   
    color: white;
    font-size: 10px;
    line-height: normal;
    text-orientation:upright;
}

.myImage img{
    height: 365px;
    width: 265px;
    border-radius: 120px 120px 5px 5px;
    box-shadow: rgba(207, 182, 206, 0.4) 0px 30px 90px;
}

.navbar ul li img{
    height: 20px;
    width: 20px;
    cursor:pointer;
    margin: 0.5em;
}