.contact-main {
    width: 80%;
    margin: 0 auto;
    padding: 2rem 0;
  }
  
  .contact-main h1 {
    margin: 6% 0 3% 0;
    color: white;
    text-align: center;
    font-size: 3em;
  }
  
  .contact-form-main {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .contact-form {
    display: flex;
    width: 100%;
    max-width: 1200px; 
    margin: 3rem;
  }
  
  .contact-form-left {
    flex: 1;
  }
  
  .contact-form-right {
    padding: 2rem;
    flex: 1;
  }
  
  .contact-image {
    max-width: 100%;
    margin-bottom: 1rem;
  }
  
  .form-group {
    margin-bottom: 1.5rem;
  }
  
  
  input,
  textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ffffff;
    border-radius: 4px;
    background-color: rgba(234, 233, 235, 0.979);
  }
  
  .contact-form-left h1{
    text-align: left;
  }

 .contact-form-left p {
    text-align: justify;
    color: rgba(242, 242, 246, 0.678);
  }
  
  .contact-button {
    background: linear-gradient(to right, #304369, #152c52);
    border: 2px groove rgb(209, 210, 218);
    color: white;
    padding: 0.5rem 1rem;
    cursor: pointer;
    min-width: 20%;
    max-width: 100%;
  }
  


  @media (max-width: 768px) {
    
    .contact-main h1 {
      margin: 5% 0 0 0;
    }
  
    .contact-form-right {
      padding: 1rem;
      flex: 2;
    }
    
    .contact-form {
      flex-direction: column;
      border: none; 
      margin: 2rem 0;
    }
  
    .contact-form-left,
    .contact-form-right {
      border: none; 
      text-align: center;
    }
    .contact-form-left h1{
      font-size: 2em;
    }

    
  }