.skills-main h1{
    margin: 3% 0 3% 0;
    color: white;
    text-align: center;
    font-size: 3em;
}

.skills-container{
    justify-content: center;
    align-items: center;
    display: flex;
}  
  .skills {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 30px;
    max-width: 100vw;
    filter: drop-shadow(0.55em .25em 0px rgba(152, 141, 213, 0.676));

}

.skill {
    position: relative;
    width: 120px;
    height: 140px;
    background-color: #8EC5FC;
background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);

    clip-path: polygon(50% 0%, 0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%);
    transition: transform 0.3s, background-color 0.3s;
    
    cursor: pointer;
    overflow: hidden;
  }


  .skill:hover {
    transform: scale(1.1);
    background-color: #444;
  }
  
  .skill-content img{
    height: 4rem;
    width: 4rem;
  }
  .skill-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 10px;
  }
  
  .skill-title {
    font-size: 1em;
    margin-bottom: 10px;
  }
  
  .skill-description {
    font-size: 0.9em;
    color: #aaa;
  }
  
  @media (max-width: 768px) {
    .skills {
      display: grid;
      justify-content: center;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 10px;
      max-width: 100vw;
      filter: drop-shadow(0.55em .25em 0px rgba(152, 141, 213, 0.676));
      overflow: hidden;
  
  }

  .skill {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: #8EC5FC;
background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);

    clip-path: polygon(50% 0%, 0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%);
    transition: transform 0.3s, background-color 0.3s;
    
    cursor: pointer;
    overflow: hidden;
  }

  .skill-content img{
    height: 3rem;
    width: 3rem;
  }

  .skill-title{
    display: none;
  }

}