@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=PT+Sans+Caption&family=Poppins:wght@300&family=Source+Sans+3&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  scrollbar-width: none;
  -ms-overflow-style: none; 
  background-color: hsl(219, 48%, 8%)
}

body::-webkit-scrollbar {
  width: 0;
  height: 0;
}